# READING HTML

In [1]:
import pandas as pd

In [3]:
url = "https://en.wikipedia.org/wiki/World_population"

tables = pd.read_html(url)

In [4]:
len(tables)

31

In [9]:
tables[2].columns

Index(['Region', '2022 (percent)', '2030 (percent)', '2050 (percent)'], dtype='object')

# READING EXCEL

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/home/jdiego/Documentos/MACHINE_LEARNING_DATA_SCIENCE/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/my_excel_file.xlsx")

In [4]:
wb = pd.ExcelFile("/home/jdiego/Documentos/MACHINE_LEARNING_DATA_SCIENCE/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/my_excel_file.xlsx")

wb.sheet_names

['First_Sheet']

In [6]:
# create a dict 
excel_dict  = pd.read_excel("/home/jdiego/Documentos/MACHINE_LEARNING_DATA_SCIENCE/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/my_excel_file.xlsx" , 
                            sheet_name=None)

In [7]:
excel_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

# READING SQL

In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
# we will create a temporary data_base in the RAM
temp_db = create_engine("sqlite:///:memory:")

In [3]:
import numpy as np

In [5]:
df = pd.DataFrame(data=np.random.randint(low=0 , high=100 , size=(4,4)) , columns=["a" , "b" , "c" , "d"])

In [6]:
# stores table as sql in RAM
df.to_sql(name="new_table" , con= temp_db)

4

In [7]:
new_df= pd.read_sql(sql="new_table" , con=temp_db)

new_df

   index   a   b   c   d
0      0  45  16  28  32
1      1  56  92  19   1
2      2  97  74  69  96
3      3  70  64  72  79